
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}

button {
    background: maroon;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background: darkred;
}

p {
    margin-top: 10px;
    font-weight: bold;
}
